<!DOCTYPE html>
<html>
  <head>
    <% include parts/template/head.ejs %>
      <link rel="stylesheet" href="stylesheets/signup.css" type="text/css"/>
  </head>
  <body>
   <style>
       #account_step2{
       display: none;
       } 
       #form_submit{
       display: none;
       }
    </style>
    <!-- menu section -->
    <% include parts/template/header.ejs%>
  
  <body>
  <!-- Account creation form-->
      <% include parts/pages/account_form.ejs%>
  </body>
  <!-- footer section -->
  <% include parts/template/footer.ejs%>
</html>
