<!DOCTYPE html>
<html>
  <head>
    <% include parts/template/head.ejs %>
      <script src="/javascripts/jquery-validate/jquery.validate.min.js"></script>
      <script src="/javascripts/formwizard/jquery.bootstrap.wizard.min.js"></script>
  </head>
  <body>
    <!-- menu section -->
    <% include parts/template/header.ejs%>
  
  <body>
  <!-- Account creation form-->
      <% include parts/pages/account_form.ejs%>
  </body>
  <!-- footer section -->
  <% include parts/template/footer.ejs%>
</html>
