<!DOCTYPE html>
<html lang="">
<head>
  <link rel="stylesheet" href="stylesheets/custom.css" type="text/css"/>
  <% include parts/template/head.ejs %>
</head>
<body>
  <% include parts/template/header.ejs %>   
<!-- ^^End navigation

<!-- hero unit -->
  <!--  layout -->
  <div class="cover_area">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-3" ></div>
      <div class="col-md-4 col-sm-6 col-xs-6">

        <img src="images/icons/acaps-01.svg" class="img-responsive img-center">
      </div>
      <div class="col-md-4 col-sm-3 col-xs-3"></div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-3" ></div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <ul class="list-unstyled">
          <li>
            <h1>Pick.Set.Go</h1>
          </li>
          <li>
            <h3>Share your journey with others, and save cost & energy</h3>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-3"></div>
    </div>

  </div>
  <div class="visible-md-block visible-lg-block hidden-sm hidden-xs" id="iphone_demo">
    <div class="row">
      <div class="col-md-5">
        <h2 class="text-left">Amrita Car Pooling System</h2>
        <hr/>
        <div class="container">
            <h4>Reduce your transportation cost by sharing your ride with people who are going to the same route.</h4>
          </div>
      </div>
      <div class="col-md-7"><img src="images/iphone-01-01.svg" class="img-responsive img-center"></div>
    </div>
  </div>

  <div class="featured">
    <div class="row">
      <div class="col-md-3">
        <img src="images/icons/eco.svg" alt="" >
        <h2>Eco-Friendly</h2>
        <p>Share a Ride with people and contribute to a pollution free World.</p>
      </div>
      <div class="col-md-3">
        <img src="images/icons/save.svg" alt="" >
        <h2>Save Money</h2>
        <p>Reduce your transportation cost by sharing your ride with people who are going to the same route.</p>
      </div>
      <div class="col-md-3">
        <img src="images/icons/traffic.svg" alt="" >
        <h2>Less Traffic Blocks</h2>
        <p>When more people share the same vehicle, there will be less traffic blocks.</p>
      </div>
    </div>
  </div>



  <!-- ^^footer-->
  <% include parts/template/footer.ejs%>
</body>
</html>