<!DOCTYPE html>
<html>
  <head>
    <% include parts/template/head.ejs %>
  </head>
  <body>
   <style>
    </style>
    <!-- menu section -->
    <% include parts/template/header.ejs%>
  
  <body>
  <!-- Account creation form-->
      <% include parts/pages/login.ejs%>
  </body>
  <!-- footer section -->
  <% include parts/template/footer.ejs%>
</html>
