<!DOCTYPE html>
<html>
<head>
    <% include parts/template/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css"/>
</head>
<body>
<!-- menu section -->
<% include parts/template/header.ejs%>
<!-- Account creation form-->
<% include parts/pages/user_ride_list.ejs %>
</body>
<!-- footer section -->
<% include parts/template/footer.ejs%>
</html>
