<!DOCTYPE html>
<html>
  <head>
    <% include parts/template/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/offer.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css"/>
  </head>
   <body>
       
    <!-- menu section -->
    <% include parts/template/header.ejs%>
  <!-- Account creation form-->
    <% include parts/pages/addCar.ejs%>
      <% include parts/pages/offer.ejs%>
  </body>
  <!-- footer section -->
  <% include parts/template/footer.ejs%>
</html>