<!DOCTYPE html>
<html>
<head>
    <% include parts/template/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/ride_details.css" type="text/css"/>
    <script src="/javascripts/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="/javascripts/toastr/toastr.css" type="text/css"/>
</head>
<body>

<!-- menu section -->
<% include parts/template/header.ejs%>
<!-- Rides details-->
<% include parts/pages/settings_form.ejs %>
<!-- Rides details-->
</body>
<!-- footer section -->
<% include parts/template/footer.ejs%>
</html>
