@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "parts/navigation";
@import "normalize";
@import "parts/datepicker/default";
@import "parts/datepicker/default.date";
@import "parts/footer";

.signup{
    @include span-columns(8);
    @include shift(2);
 #signup_gender{
     //@include span-columns(6);
     
     input,label,span{
         display: inline;
     }
     span{
         margin: em(20) ;
     }
 }
 #submit_button{
     float:right;
 }
}

h1{
     text-align: center;
     @extend h1;
 }

.signup{
    clear: both;
    @include addspace;
    @extend fieldset;
}
.footer{
    clear: both;
}

input:not(input[type="submit"]){
    background: rgba(232,232,232,1);
background: -moz-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(224,220,224,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,232,232,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(224,220,224,1)));
background: -webkit-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(224,220,224,1) 100%);
background: -o-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(224,220,224,1) 100%);
background: -ms-linear-gradient(left, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(224,220,224,1) 100%);
background: linear-gradient(to right, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 50%, rgba(224,220,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e0dce0', GradientType=1 );
}