#waypointbox{
  margin:0 auto;
  width:100px;
  @include span-columns(6);
  @include shift(-3 of 12);
  @include shift(3 of 12);
  display: block;
  clear: both;
}

.ride_info{
  @include span-columns(12);
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}
#ride_date_time{
  @include span-columns(12);
   h1{
       display: inline;
       @include span-columns(6);
   }
}

.gird-item-lines{
  opacity: 2 !important;
}


