<h1 class="text-center">Sign Up</h1>
<div class="container panel">
   <style>
      form .btn-success{
         float: right;
      }
   </style>
   <form action="/account" class="validate" method="post">
         <div class="row">
            <!-- first name-->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="First_name">First Name</label>
                  <input class="form-control" name="First_name" id="First_name" data-validate="required"
                         placeholder="Your first name" aria-required="true" aria-describedby="First_name-error" aria-invalid="true">
               </div>
            </div>

            <!-- last name-->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="last_name">last Name</label>
                  <input class="form-control" name="last_name" id="last_name" data-validate="required"
                         placeholder="Your last name" aria-required="true" aria-describedby="last_name-error"
                         aria-invalid="true">
               </div>
            </div>

         </div>

      <!-- Date of birth -->
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="birthdate">Date of Birth</label>
                  <input class="form-control" name="birthdate" id="birthdate" data-validate="required" data-mask="date" placeholder="Pre-formatted birth date" aria-required="true" aria-describedby="birthdate-error">
               </div>
            </div>

            <!-- gender select -->
            <div class="col-md-6">
               <div class="form-group">
                  <label class="control-label" for="gender_select">Gender</label>
                  <p>
                     <label class="radio-inline">
                        <input type="radio" name="gender_select" checked="" >
                        Male
                     </label>
                     <label class="radio-inline">
                        <input type="radio" name="gender_select">
                        Female
                     </label>
                     <label class="radio-inline">
                        <input type="radio" name="gender_select">
                        Others
                     </label>
                  </p>
               </div>
            </div>
         </div>

      <div class="row">

         <!-- occupation -->
         <div class="col-md-6 ">
            <div class="form-group">
               <label class="control-label" for="occupation">occupation</label>
               <input class="form-control" name="occupation" id="password" data-validate="required"
                      placeholder="Ex: software developer" type="text">
            </div>
         </div>

         <!-- Company -->
         <div class="col-md-6 ">
            <div class="form-group">
               <label class="control-label" for="company">Company</label>
               <input class="form-control" name="company" id="password_confirm" data-validate="required"
                      placeholder="Ex: Amrita Technologies" type="text">
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="phone">Phone number</label>
               <input class="form-control" name="phone" id="password" data-validate="required"
                      placeholder="" type="number">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label" for="email">email</label>
               <input class="form-control" name="email" id="email" data-validate="required"
                       type="email" placeholder="person@example.com">
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
               <label class="control-label" for="password">Password</label>
               <input class="form-control" name="password" id="password" data-validate="require"
                      placeholder="" type="password">
            </div>
         </div>


         <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
               <label class="control-label" for="password_confirm">Confirm password</label>
               <input class="form-control" name="password_confirm" id="password_confirm" data-validate="require"
                      placeholder="" type="password">
            </div>
         </div>


      </div>

      <div class="row">
         <div class="form-group">
             <button type="submit" class="button btn-success btn">submit</button>
         </div>
      </div>
   </form>
</div>

