 

<style>
     .user_info{
         display:none;
     }
 </style>

 <div class="grid-items-lines">
  
   <a href="javascript:void(0)" class="grid-item user_info">
    <img src="images/logo.png" alt="" width="60" height="60">
    <h1>Steve Hawking</h1>
    <p>Business man <br>loves to travel</p>
    edit your profyle
    
  </a>
  
   <a href="javascript:void(0)" class="grid-item grid-item-big user_info">
    <img src="../uploads/profile_pics/4af84464c8943242d619a6fccc5eed35.bmp" alt="">
    <h1>Amrita Car pooling System</h1>
    <p>put insights of user here</p>
  </a>
     
    <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('from_location'));
            var places2 = new google.maps.places.Autocomplete(document.getElementById('to_location'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;

            });
            
            google.maps.event.addListener(places2, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
            });
            
        });
    </script>
<!--
<div id="action_boxes">
   <h2> Find A Ride</h2>
    <form action="/find"  method="post">
        <fieldset class="find_box">
        <p>
            <label>From</label>
            <input type="text" name="from_location" id="from_location"/>
        </p>
        <p>
            <label>To</label>
            <input type="text" name="to_location" id="to_location"/>
        </p>
        <p>
            <input type="submit" value="Find a Ride" class="find">
        </p>
    </fieldset>
    </form>
</div>-->



<!-- Catch a ride search box and layout -->
<div class="search_background">
    <form action="/find"  method="post">
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-3" ></div>
        <div class="col-md-4 col-sm-6 col-xs-6"><h3 id="car_txt">Catch a Ride</h3></div>
        <div class="col-md-4 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-3"></div>
        <div class="col-md-4 col-sm-6 col-xs-6" id="f1">
            <input name="from_location" type="text" class="form-control" id="from_location" placeholder="From" ></div>
        <div class="col-md-4 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-3"></div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <input name="to_location" type="text" class="form-control" id="to_location"
                                                       placeholder="To"></div>
        <div class="col-md-4 col-sm-3 col-xs-3"></div>
    </div>
    <div class="row text-center">
        <input type="submit" value="Find a Ride" class="find btn btn-primary btn-lg">
    </div>
</form>
</div>
<!-- catch a ride search box layout end -->