<div class="login_box">
        <style>
            .form1{
               width:50%;
               margin:0 auto;
            }
            .form1 form{
                margin:100px 0px;
            }
            .form1 form > a{
                margin-left:10px;
            }
        </style>
        <div class="form1">
           <h1 align="center"><b>LOGIN</b></h1>
            <form action="/login" method="post">
                Username:
                <br>
                <input type="email" name="email" placeholder="abd1@gmail.com">
                <br> Password:
                <br>
                <input type="password" name="password" placeholder="*****">
                <br>
                <br>
                <input type="submit" value="Login">
                <a href=""> Forgot password?</a>
            </form>
        </div>
</div>