
<!-- Bottom Scripts -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/TweenMax.min.js"></script>
<script src="/javascripts/resizeable.js"></script>
<script src="/javascripts/joinable.js"></script>
<script src="/javascripts/xenon-api.js"></script>
<script src="/javascripts/xenon-toggles.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/javascripts/xenon-custom.js"></script>

<script src="/javascripts/jquery-validate/jquery.validate.min.js"></script>
<script src="/javascripts/inputmask/jquery.inputmask.bundle.js"></script>
<script src="/javascripts/formwizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/javascripts/datepicker/bootstrap-datepicker.js"></script>
<script src="/javascripts/multiselect/js/jquery.multi-select.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.min.js"></script>
<script src="/javascripts/selectboxit/jquery.selectBoxIt.min.js"></script>

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/logo.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Find a Ride</a></li>
      <li><a href="javascript:void(0)">Offer a Ride</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>


  <p>copyright © 2015 Amrita Carpooling System.All Rights Reserved</p>
</footer>


