  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/customize.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/xenon-core.css">
  <link rel="stylesheet" href="/stylesheets/xenon-forms.css">
  <link rel="stylesheet" href="/stylesheets/xenon-components.css">
  <link rel="stylesheet" href="/stylesheets/xenon-skins.css">
  <script src="javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/javascripts/main.js" type="text/javascript"></script>
  <script src="/javascripts/picker.js" type="text/javascript"></script>
  <script src="/javascripts/picker.date.js" type="text/javascript"></script>
  <script src="/javascripts/account.js" type="text/javascript"></script>