<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>
 <header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/find">Find a ride</a></li>
        <li class="nav-link"><a href="/offer">Offer a ride</a></li>
        <li class="nav-link"><a href="/about">About us</a></li>
          </ul>
    </nav>
      <!-- user profile_data -->
      <%if (typeof loggedUserName !== 'undefined' && typeof session !== 'undefined'){%>
    <%if (session.current_user){%>
      <% include logged.ejs%>
    <%}%>
      <%}%>

     <%if (create == true){%>
     <div class="navigation-tools">
    <!-- <input type="submit" Value="Create an account"> -->

         <a href="/account"> <input type="submit" Value="Signup"></a>
         <a href="/login"> <input type="submit" Value="Login"></a>
      </div>
    </div>    
    <%}%>
    </div>
</header>