<div class="navigation-tools">
    <ul>
        <li class="nav-link more" id="current_user_nav"><a href="javascript:void(0)">
                <img src="<%=loggedUserPic%>" alt="" id="menu_profile_pic"/>
                <%= loggedUserName%> &#9662;
            </a>
            <ul class="submenu">
                <li><a href="javascript:void(0)">
                        <!-- Settings icon by Icons8 -->
                        <!-- Support icon by Icons8 -->
                        <img class="icon icons8-Support" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAB6UlEQVRIS62W31HCQBDGd3N5FyuQDoTh8gxUoFQgViAdSAdCBWIFYgXA813msAKlA3nnZp1lLpkjJoET7i1/dn/37e1+CcI/l9b6noi6iNjiFETUAICPJEnGxZQYylBK9RDxFQCahdg3KeWwLF8QhHcPAO8liSoB/O7JEGNMw1r7BQBcFn/VAoIgaZqOiOilqEIIcd1ut3/qyn6yEqXUEhG7xWRSytocXOKzIXVKtNYzImqGQMaI+FxSloGUcl68zwAAeCCiVQiEW3dRAlkS0SSO41V2NhnAzc/pEA7QWq8B4DZwtqYhSqrKdYw5OAniyd+4jDfHMrvnGyFE6yjEr6+rcR8A+HzKmuCATUT9JEmWlRCe8N1ut8gMMIsmonUcxwzi57Oy2QGALSKOOp0Od1i5rVQBvG1OpZQjvnaGyY68d+MoiuZRFM18F/ijxBjTstayCRZdNsiv/JcPIA7As1A0QT/mUwjRO+ZXpRAnmxVcFJCfSZqmQyLiD1Hd2rdjiIIsGToFXKIt2wMispKnAm3rSsQTH7xQa83mdgcAudFprSce6CzAvlzedyKHKKVyC8kGKnj7XkCuhIcMAPZ/GojIQ9RAxMdsoM6CGGOa1loGXB203YUAeXc5EJ8DD+A3NwB7zjm792N/ASIK8FZC9nIFAAAAAElFTkSuQmCC" width="25" height="25">
                        Settings</a></li>
                <li><a href="/logout">
                        <!-- Exit icon by Icons8 -->
                        <img class="icon icons8-Exit" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABc0lEQVRIS+2W31HCQBDGv5vNu3QgJZjJ3jPQAXQAHUAF2oF2oCXECsTnCxPsQDuAAsg6q0nmhIAXJU96TzeTy323u7/9Y+CtPM97u93uFsAYQM//FrjfAEiJaBHHse4/lvF/ds4tjTGDwAtPHUuZedIokmWZAHgjoiv/JaGipSfWAC6ZuTbgiyUqIiLP1tph6MX75ypv/IsceDDLsrGIDKy1i+rjarWaisj92dzlnLsxxlwDWBLRpIJFhZIkeThKV5vAeyIQkXUURaMmKoPo0pcplvv+EhGl0CdxQ0QqpBjX61sR59zQGPPUAmnN9Bkzp8Hu+oHIZykxZlbFpQtLaqNFZGStXXYm0rUlWwDTVjFR25Wuoij6DcFXKPyqvSWiYWu6TlHl5wmAl1Kg7iPBdIWIaAJHUTTuJOO1dmkyMvO8s9rVZOUf6ycAXoko/kWPzwH0j/aTM04rj8ysUByOROW0cVfOXRctKm91VLNd566574l3OzpXKYxRP28AAAAASUVORK5CYII=" width="25" height="25">
                        Logout</a></li>
            </ul>
        </li>
    </ul>
</div>

<style>
    .navigation-tools{
        float: right;
    }


    #current_user_nav img{
        vertical-align: middle;
    }

    #menu_profile_pic{
        margin-top: 1px;
        width:50px;
        height: 45px;
        border-radius: 10px;
        border: 3px solid black;
        margin-right: 10px;
    }
    .icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .submenu{
        z-index: -999;
    }

    header.navigation li.more.nav-link > a:after{
        content: ' ' !important;
    }

</style>
